<div class="bg-black py-3">
  <div class="container">
      <div class="pb-5"><a class="text-light" routerLink="contact">Questions? Contact us.</a></div>
      <div class="d-flex justify-content-around align-items-center flex-wrap">
        <ul>
          <li><a routerLink="" class="text-light">FQA</a></li>
          <li><a routerLink="" class="text-light">Investor Relations</a></li>
          <li><a routerLink="" class="text-light">Privacy</a></li>
          <li><a routerLink="" class="text-light">Speed Test</a></li>
        </ul>
        <ul>
          <li><a routerLink="" class="text-light">Help Center</a></li>
          <li><a routerLink="" class="text-light">Jobs</a></li>
          <li><a routerLink="" class="text-light">Cookie Preferences</a></li>
          <li><a routerLink="" class="text-light">Legal Notices</a></li>
        </ul>
        <ul>
          <li><a routerLink="" class="text-light">Account</a></li>
          <li><a routerLink="" class="text-light">Ways to Watch</a></li>
          <li><a routerLink="" class="text-light">Corporate Information</a></li>
          <li><a routerLink="" class="text-light">Only on Movies</a></li>
        </ul>
        <ul>
          <li><a routerLink="" class="text-light">Media Center</a></li>
          <li><a routerLink="" class="text-light">Terms of Use</a></li>
          <li><a routerLink="contact" class="text-light">Contact Us</a></li>
          <li><a routerLink="about-us" class="text-light">About Movies</a></li>
        </ul>
      </div>
      <div class="py-5">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Languages
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" style="cursor: pointer;">English</a></li>
            <li><a class="dropdown-item" style="cursor: pointer;">Arabic</a></li>
          </ul>
        </div>
        <h3 class="py-5 text-danger">Movies Egypt</h3>
        <p class="text-center text-light fs-5">This page is protected I3y Sherif Shukri &copy; 2025 </p>
      </div>
      <div>

      </div>
  </div>
</div>
